body{
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #5ec4da;
    padding: 20px 0;  /* Espaciado de arriba y abajo */
}

main{
    background: linear-gradient( #b6fbff, #83a4d4);
}


.caja{
    width: 1300px;
    position: relative; /* relativa a la pisicion absoluta de nav*/
    margin: 0 auto;     /* Calcula de acuerdo a la funcion que se le dio en width y lo altera en el borde izquierdo y derecho en cuanto al espacio*/
}

nav{
    position: absolute;  /* Con la position: absolute, yo puedo posicionar mi elemento en cualquier lugar de la p치gina. */
    top: 85px;
    right: 0;
}

nav li{
    display:inline;  /*los display la propiedad especifica el comportamiento de visualizaci칩n ( el tipo de cuadro de representaci칩n ) de un elemento.*/
                    /*Muestra un elemento como un elemento en l칤nea (como <span>). Cualquier propiedad de alto y ancho no tendr치 efecto*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;  /* transformaci칩n del texto a may칰scula, cuando usamos el valor uppercase. */
    color: black;
    font-weight: bold;
    font-size: 22px;   /* Tama침o de pagina */
    text-decoration: none;   /* Quitar subrayado por defecto */
}

nav a:hover{
    color: #ffbf00;
    text-decoration: underline;
}

.productos{          /* Imagenes de productos */
    width: 1300px;
    margin: 0 auto;
    padding: 50px;     /* Espacio entre productos y el encabezado */
}

.productos li{
    display: inline-block;     /* El tama침o puede ser ajustado, tanto en la largura, como en la altura. */
    text-align: center;        /* Centra el texto titulo de productos */
    width: 30%;            /* Cada elemento ocupara el 30% del espacio */
    vertical-align: top;
    margin: 0 1.5%;         /* Se a침ade un espacio externo entre los elementos productos */
    padding: 30px 10px;     /* El elemento aumenta su tama침o. Cuando declaro que existe un espaciamiento interno, estoy aumentando el contenido. */
    box-sizing: border-box;   /* Tama침o de la caja, el borde de cada uno de los items no sobrepase el limite establecido (en este caso el limite es 1300px) */
    border-color: black;   /* borde en las imagenes */
    border-width: 2px;     /* un borde queda posicionado entre el padding y el margin. */
    border-style: solid;
    border-radius: 10px;  /* podemos dise침ar la esquina redondeada de los elementos. */
}

.productos li:hover{
    border-color: #ffbf00;
}

.productos li:hover h2{  /* Hace zoom al titulo de las imagenes */
    font-size: 33px;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{             /* Titulo de los productos */
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;   /* Espacio entree el titulo y la imagen */
}

.descripcion{
    font-size: 18px;
    margin-top: 10px;
}

.precio{
    font-size: 25px;     /* Tama침o  */
    font-weight: bold;   /* Texto en negrita */
    margin-top: 10px;    /* Separa el precio de la descripcion  */
}

footer{
    text-align: center;
    background: url(/Principal/Imagenes/PiePagina.jfif);  /* Colocando una imagen en background repetira la imagen para ocupar el espacio necesario */
    padding: 40px;  /* La propiedad padding sirve para cambiar el espaciado interno, entre el contenido y el borde. */
}

.piePagina{
    position: relative;
    top: 20px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

form{
    margin: 40px 0;

}

form label, form legend{   /* Los formularios vienen por defecto inline, se configuran como block para que quede vertical el formulario */
    display: block;  /* Separando con una coma(,) se pueden replicar los estilos de varios selectores*/
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {              /* Cuando tenemos un estilo que puede ser repetido, una buena estrategia es extraer eso a una clase y usar la clase para aplicar esos estilos en nuestros elementos. */
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;    /* Para agrandar la caja de texto 10px de superior e inferior y 25px para los costados */
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
width: 40%;
padding: 15px 0;
font-size: 18px;
font-weight: bold;
color: white;
background: orange;
border: none;
border-radius: 10px;
transition: 1s all;  /* Transicion mas lenta para poder visualizar el cambio de color en el boton enviar */
cursor: pointer;           /* Cambiar la flecha por una mano a la hora de pararse sobre el boton enviar */
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.10);       /* Efecto de aumentar tama침o de boton al pasar por encima de el  */
    /*transform: rotate(70deg);    Efecto de rotar boton al pasar por encima de el  */
}

table{                    
    position: absolute;
    margin: 40px 40px;
    right: 8%;
    top: 50%;
    width: 400px;
    
}

thead{                         /* Titulo (Dia y Horario) */
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;      /* Se crean las lineas de division y se le da un color  */
    padding: 8px 15px;          /* Espaciamento interno */
    text-align: center;
    font-size: 20px;
}

/* CSS para nuestra pagina principal */

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;               /* Espacio entre la imagen banner y el titulo "Sobre TV Cristalinas */
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;        /* En otras palabras, las unidades em son un m칰ltiplo del tama침o de fuente del elemento. */
    margin: 0 0 1em;
    clear: left;     /* Cuando se aplica a elementos flotantes, mueve el borde del margen ( en-US ) del elemento debate del borde del margen ( en-US )de todos los flotadores relevantes. Esto afecta la posici칩n de floats posteriores, ya que estos no pueden ser posicionados m치s arriba que los primeros. */
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.fibra{
    width: 120px;
    float: left;  /* los float La propiedad CSS coloca un elemento en el lado izquierdo o derecho de su contenedor, permitiendo que el texto y los elementos en l칤nea lo envuelvan. El elemento se elimina del flujo normal de la p치gina, aunque sigue siendo una parte del flujo */
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0 ;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;  /* la principal diferencia es que display: inline-blockno agrega un salto de l칤nea despu칠s del elemento, por lo que el elemento puede ubicarse junto a otros elementos. */
    vertical-align: top;
}

.items{
    line-height: 2;     /* Espacio entre las listas */ 
    font-weight: bold;
}

.items::before{
    content: "游니";
}

/*.items:first-child{    con first-child selesciona la primera lista y con bold la convierte en negrita
    font-weight: bold;
}*/


.imagen-diferenciales{
    width: 60%;
    transition: 400ms;           /* Tiempo en el que dura la imagen en opacarse */
    box-shadow: 6px 6px 30px 15px #000000;   /* borde derecha / borde abajo / blur(degradado) / spread(alcance de la sombra) / color */
}

.imagen-diferenciales:hover{    /* Reacciona al pasar el mouse sobre la imagen con un efecto de opacidad */
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}

/* 쮺칩mo usar medidas proporcionales para dejar un elemento 100% de ancho con el equivalente a un tercio del elemento padre, menos 10px?
    width: calc( (100% / 3) - 10px )
춰Alternativa correcta! Es necesario calcular el un tercio del elemento, esa es una de las formas de hacer eso, luego le restamos los 10px.*/


@media screen and (max-width:480px){ /* @media (max-width: 480px) {}춰Alternativa correcta! Dentro de esta media query podemos crear un estilo visual que incluye pantallas de hasta 480px. */
/* la @media  son 칰tiles cuando deseas modificar tu p치gina web o aplicaci칩n en funci칩n del tipo de dispositivo (como una impresora o una pantalla) o
de caracter칤sticas y par치metros espec칤ficos (como la resoluci칩n de la pantalla o el ancho del viewport del navegador). funciona como un if */
    
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {  /* Se pone automatico para que se ajuste de acuerdo al dispositvo deonde se ve la pagina */
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
}

